<%- include ("./partials/header") %>
  <!-- End of Topbar -->

  <!-- Begin Page Content -->
  <div class="container-fluid px-5 pt-2">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <section class="wrapper">
      <div class="container-fostrap">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="admin/add-fields" class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                      class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                      class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                      class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                      class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                      class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                      class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title">ADD COE</h4>
                  </div>
                  <div class="card-read-more">
                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                      class="btn btn-link btn-block">
                      <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.container-fluid -->
  </div>

  <%- include ("./partials/footer") %>