<select name="department" class="custom-select d-block w-100" required>
    <option value="">Choose...</option>
    <option>CSE</option>
    <option>ISE</option>
    <option>ECE</option>
    <option>TCE</option>
    <option>EEE</option>
    <option>CIV</option>
    <option>MECH</option>
    <option>MBA</option>
    <option>MCA</option>
    <option>Basic Sciences</option>
  </select>