</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <p id="copyright-text">Copyright &copy; Data Repository - CMRIT 2021</p>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Modal -->

<div class="nav-modal nav__hidden">
    <button class="btn--close-modal">&times;</button>

    <div class="items-body">
        <div class="items-body-content">
            <a class="nav-link" href="/students/publication">
                <span>Book Publication</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/entrepreneurship">
                <span>Entrepreneurship Details</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/projects">
                <span>Projects/Mini Projects</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/servedAs">
                <span>Student Served As</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/parentsMeeting">
                <span>Parents Meeting</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/bridgeCourses">
                <span>Bridge Courses</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/ideaRepository">
                <span>Idea Repository</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/internshipCell">
                <span>Internship Cell</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/exchangeProgram">
                <span>Exchange Program</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/alumniData">
                <span>Alumni Data</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/higherStudies">
                <span>Higher Studies</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/results">
                <span>Results (After Reval)</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/journalPublications">
                <span>Journal and Conference Publications</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/mooc">
                <span>MOOC Courses</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/academiaAttended">
                <span>Academia/Industry Connect Activities Attended</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/awardsNSS">
                <span>Awards & Achievements NSS/NCC</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/students/mentoring">
                <span>Mentoring</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>



    </div>

</div>



<div class="overlay nav__hidden"></div>



<!-- Form vaildation -->

<script type="text/javascript" src="/js/form-validation.js"></script>

<!-- Javascript for Text Box -->
<script src="/js/textbox.js"></script>



<!-- JavaScript for Quill -->

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="../scripts/quill-image-uploader/dist/quill.imageUploader.min.js"></script>
<script src="../scripts/quill-image-resize
/image-resize.min.js"></script>

<!--Custom Quill setup -->
<script type="text/javascript" src="/js/quill.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/admin-panel.js"></script>