</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <p id="copyright-text">Copyright &copy; Data Repository - CMRIT 2021</p>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Modal -->

<div class="nav-modal nav__hidden">
    <button class="btn--close-modal">&times;</button>
    
    <div class="items-body-content">
        <a class="nav-link" href="/student/AcademiaIndustryConnectActivitiesAttended">
            <span>Academia/Industry Connect Activities Attended</span>
        </a>
        <i class="fa fa-angle-right"></i>
    </div>
    <div class="items-body-content">
        <a class="nav-link" href="/student/AlumniData">
            <span>Alumni Data</span>
        </a>
        <i class="fa fa-angle-right"></i>
    </div>
    <div class="items-body">
        <div class="items-body-content">
            <a class="nav-link" href="/student/BookPublication">
                <span>Book Publication</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/EntrepreneurshipDetails">
                <span>Entrepreneurship Details</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/ProjectsAndMiniProjects">
                <span>Projects/Mini Projects</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/ServedAs">
                <span>Student Served As</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/ParentsMeeting">
                <span>Parents Meeting</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/BridgeCourses">
                <span>Bridge Courses</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/IdeaRepository">
                <span>Idea Repository</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/InternshipCell">
                <span>Internship Cell</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/ExchangeProgram">
                <span>Exchange Program</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>

        <div class="items-body-content">
            <a class="nav-link" href="/student/HigherStudies">
                <span>Higher Studies</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/Results">
                <span>Results (After Reval)</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/JournalAndConferencePublications">
                <span>Journal and Conference Publications</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/MoocCourses">
                <span>MOOC Courses</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/AwardsNssAndNcc">
                <span>Awards & Achievements NSS/NCC</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/Mentoring">
                <span>Mentoring</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/student/Patents">
                <span>Patents</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>



    </div>

</div>



<div class="overlay nav__hidden"></div>








<!--Custom Script -->
<script type="text/javascript" src="/scripts/index.js"></script>