</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <p id="copyright-text">Copyright &copy; Data Repository - CMRIT 2021</p>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Modal -->

<!-- <div class="nav-modal nav__hidden">


    <div class="input-group nav__search">
        <div class="form-outline">
            <input id="search-focus" type="search" id="form1" class="form-control" placeholder="Search" />
        </div>
    </div>

    <button class="btn--close-modal">&times;</button>

    <div class="items-body">
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/bookpublications">
                <span>Book Publication</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/industryconnectdatabase">
                <span>Industry Connect Database</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/AICAattended">
                <span>Industry Connect Activity Attended</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/AICAorganised">
                <span>Industry Connect Activity Organised</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/awardsnss&ncc">
                <span>Awards NSS & NCC</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/consultancy">
                <span>Consultancy</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/entrepreneurshipdetails">
                <span>Enterpreneurship Details</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/fosscell">
                <span>FOSS Cell</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/EE&C">
                <span>EE&C</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/facultyservedas">
                <span>Faculty Served As</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/idearepository">
                <span>Idea Repository</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/IQACdata">
                <span>IQAC Data</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/journalpaperpublication">
                <span>Journal Paper Publication</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/MOOCcourse">
                <span>MOOC Course</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/Mous">
                <span>MOUs</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/patent">
                <span>Patent</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/phddetails">
                <span>PHD Details</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/professionalbodies">
                <span>Professional Bodies</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/results">
                <span>Results</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/slowlearnerinitiative">
                <span>Slow Learner Initiative</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/sponsoredresearchprojects">
                <span>Sponsored Research Projects</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/techtalk">
                <span>Tech Talk</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/visitorsdatabase">
                <span>Visitors Database</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/VVIP">
                <span>VVIP</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
            <a class="nav-link" href="/faculty/wellbeingclub">
                <span>Well Being Club</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </div>




    </div>

</div> -->



<div class="overlay nav__hidden"></div>








<!--Custom Script -->
<script type="text/javascript" src="/scripts/index.js"></script>