<!DOCTYPE html>
<html lang="en">

<head>


    <%- include ("./_link-tags.ejs") %>

        <!-- Custom styles for this template-->
        <link href="/css/template.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/menu.css" />

        <!-- Include stylesheet -->
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
</head>

<body id="page-top">
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModal">Confirm Submission</h5>
                    <button type="button" class="btn-close btn__close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">Are you sure you want to submit the form ? This action will insert the following
                    data in
                    the database, once inserted you will not be able to delete the data.The data can be updated from the
                    report page.</div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold btn__close"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary font-weight-bold submit__data--btn">Save
                        changes</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Navbar-->

    <%- include ("./navbar") %>

        <!-- End of Navbar-->