<li class="nav-item nav__menu--mega dropdown no-arrow">
    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-chevron-circle-down"></i>
        <span id="home-text">Menu</span>
    </a>
</li>

<div class="dropdown-menu nav__menu--submenu">
    <div class="mega-dropdown-menu row">

        <ul class="menu-content">
            <li class="menu-item">
                <ul class="menu-inner">
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/bookpublications”>

                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Book Publication</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/industryconnectdatabase”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect
                                Database</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/AICAattended”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect Activity
                                Attended</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <ul class="menu-inner">
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/bookpublications”>

                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Book Publication</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/industryconnectdatabase”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect
                                Database</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/AICAattended”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect Activity
                                Attended</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <ul class="menu-inner">
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/bookpublications”>

                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Book Publication</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/industryconnectdatabase”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect
                                Database</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/AICAattended”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect Activity
                                Attended</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <ul class="menu-inner">
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/bookpublications”>

                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Book Publication</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/industryconnectdatabase”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect
                                Database</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/AICAattended”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Industry Connect Activity
                                Attended</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                        <a class="menu-link" href=“/faculty/awardsnss&ncc”>
                            <span class="menu-text"><i class="fas fa-circle menu-bullet"></i>Awards NSS & NCC</span>
                        </a>
                    </li>
                </ul>
            </li>



        </ul>


    </div>
</div>