<%- include ("../partials/header") %>

<div class="container-fluid">
  <section id="form">
    <form id="myForm" class="needs-validation" novalidate action="/faculty/fac_awards">

      <div class="container-fluid">
        <div class="row data-row">
          <div class="col-md-8 mb-3">
            <h4 class="mb-3 title">Faculty Awards Data Entry</h4>
          </div>
          <div class="col-md-4 mb-3 report">
            <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
        </div>
        <div class="row data-row">


          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label class="required">Event Name</label>
              <input type="text" name="eventName" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label class="required">Awarded By</label>
              <input type="text" name="awardedBy" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
          </div>

        </div>

        <div class="row data-row">

          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label class="required">Faculty ID</label>
              <input type="text" name="id" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label class="required">Date of Award</label>
              <input type="date" name="date" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
          </div>

        </div>
        <div class="row data-row">
          <div class="col-md-6 mb-3">
            <label class="required">Category</label>
            <select name="category" class="custom-select d-block w-100" id="selectBox" required
              onChange="changeFunc();">
              <option value="">Choose...</option>
              <option>Hackathon</option>
              <option>Competition</option>
              <option>Sports</option>
              <option>Best Paper Award</option>
              <option>Academic Achievement</option>
              <option>Star Performer</option>
              <option>Faculty Recognition</option>
              <option>Certification</option>
              <option>Innovation</option>
              <option>Startup</option>
              <option>Cultural</option>
              <option>Games</option>
              <option value="others">Others</option>
            </select>
            <input name="category" placeholder="Mention Here..." class="form-control other-text" type="text"
              style="display: none" id="textboxes">
            <div class="invalid-feedback">
              Please select a valid type.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="required">Level</label>
            <select name="level" class="custom-select d-block w-100" required>
              <option value="">Choose...</option>
              <option>Department</option>
              <option>College</option>
              <option>Inter-College</option>
              <option>University</option>
              <option>State</option>
              <option>National</option>
              <option>International</option>
              <option>Not Available</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid type.
            </div>
          </div>
        </div>
        <div class="row data-row">
          <div class="col-md-6 mb-3">
            <label class="required">Status</label>
            <select name="status" class="custom-select d-block w-100">
              <option value="">Choose...</option>
              <option>1st Place</option>
              <option>2nd Place</option>
              <option>3rd Place</option>
              <option>Runner Up</option>
              <option>Winner</option>
              <option>Participated</option>
              <option>Consolation</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid type.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="required">COE</label>

            <%- include ("../partials/coe") %>


            <div class="invalid-feedback">
              Please select a valid type.
            </div>
          </div>
        </div>

        <%- include ("../partials/description") %>

        <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
            Submit</button>
        </div>
      </div>

  </section>

</div>
<!-- Footer -->


<%- include ("../partials/footer") %>

<script type="text/javascript" src="/js/date.js"></script>
</body>

</html>