<%- include ("../partials/header") %>

  <div class="container-fluid">
    <section id="form">
      <form id="myForm" class="needs-validation" novalidate action="/faculty/fac_clubActivities">
        <div class="container-fluid">

          <!-- Header Section -->

          <div class="row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">Club Activities Data Entry</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="required">Club Name</label>
              <select name="clubName" class="custom-select d-block w-100" id="selectBox" required onChange="changeFunc();">
                <option value="">Choose...</option>
                <option>ACE</option>
                <option>MindsSpark</option>
                <option>Hakerearth</option>
                <option>CyberNauts</option>
                <option>Moziety</option>
                <option>Rise</option>
                <option>Codechef</option>
                <option>Coding Ninjas</option>
                <option>Google DSC</option>
                <option>GLUG</option>
                <option>Society of Civil Engineers</option>
                <option>ECO</option>
                <option>Electronic Technical Association (ETA)</option>
                <option>TAQ</option>
                <option> Forum for Electrical & Electronics Engineers(FEEE)</option>
                <option>ENSAV</option>
                <option>Society of Mechanical Engineers(SME)</option>
                <option>PROLAB</option>
                <option>Technolix</option>
                <option>Science Club</option>
                <option>Protocol</option>
                <option>Finance & Investment Club</option>
                <option>HR & Communication Club</option>
                <option>Marketing & Entrepreneurship Club</option>
                <option>Technotuners</option>
                <option>Rotract Club</option>
                <option>Connaissance Club</option>
                <option>GreeksForGreeks</option>
                <option value="others">Others</option>
              </select>
              <input name="clubName" placeholder="Mention Here..." class="form-control other-text" type="text"
                style="display: none" id="textboxes">
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Topic</label>
              <input type="text" name="topic" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Resource Person</label>
              <input type="text" name="resourcePerson" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Designation</label>
              <input type="text" name="designation" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Company</label>
              <input type="text" name="company" class="form-control" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>
            <div class="col-md-6 mb-3">
              <label>Benefit</label>
              <input type="text" name="benefits" class="form-control">
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label>Event Objective</label>
              <input type="text" name="objective" class="form-control" required>
            <div class="invalid-feedback">
              Valid details required.
            </div>
            </div>
          </div>
            <div class="col-md-6 mb-3">
              <label>Website</label>
              <input type="text" name="website" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">Start Date</label>
              <input type="date" name="startDate" class="form-control" required onchange="setDate()">
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
              <label class="required">End Date</label>
              <input type="date" name="endDate" class="form-control eDate" required>
              <div class="invalid-feedback">
                Valid details required.
              </div>
            </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="required">Department</label>
              <select name="department" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>CSE</option>
                <option>ISE</option>
                <option>ECE</option>
                <option>TCE</option>
                <option>EEE</option>
                <option>CIV</option>
                <option>MECH</option>
                <option>MBA</option>
                <option>MCA</option>
                <option>Basic Sciences</option>
                <option>College Level</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Semester</label>
              <select name="sem" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>I Sem</option>
                <option>II Sem</option>
                <option>III Sem</option>
                <option>IV Sem</option>
                <option>V Sem</option>
                <option>VI Sem</option>
                <option>VII Sem</option>
                <option>VIII Sem</option>
                <option>All sememster</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label>Participant Numbers</label>
              <input type="number"  min="0" name="participantNo" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
              <label class="required" for="type">COE</label>
              <%- include ("../partials/coe") %>
            </div>
          </div>
          <%- include ("../partials/description") %>


            <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                Submit</button>
            </div>
        </div>
      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>
  <!-- JavaScript for ckeditor -->
  <script type="text/javascript" src="/js/date.js"></script>
</body>

</html>