<%- include('../partials/header.ejs') %>
    <div class="container-fluid px-5 pt-2">


        <!-- Data Entry -->

        <section id="form">

            <form action="/search" method="post">


                <h4 class="mb-3 title">Student Report</h4>
                <div class="row data-row">
                    <div class="col-md-12 mb-3">
                        <label>Event</label>
                        <select class="custom-select d-block w-100" name="event" required>
                            <option value="">Choose...</option>
                            <option value="all">All</option>
                            <option value="industry_connect">Academia Industry Connect Activity Attended</option>
                            <option value="alumni_data">Alumni Data</option>
                            <option value="awards">Awards & Achievements</option>
                            <option value="awards_nss">Awards NSS & NCC</option>
                            <option value="book_publication">Book Publications</option>
                            <option value="bridge_courses">Bridge Courses</option>
                            <option value="entrepreneurship">Entrepreneurship Details</option>
                            <option value="events_attended">Events Attended</option>
                            <option value="exchange_program">Exchange Program</option>
                            <option value="higher_studies">Higher Studies</option>
                            <option value="idea_repository">Idea Repository</option>
                            <option value="internship_cell">Internship Cell</option>
                            <option value="journal_publications">Journal and Conference Publications</option>
                            <option value="mentoring">Mentoring</option>
                            <option value="mooc">MOOC Courses</option>
                            <option value="parents_meeting">Parents Meeting</option>
                            <option value="patents">Patents</option>
                            <option value="placement">Placement</option>
                            <option value="projects">Projects/Mini Projects</option>
                            <option value="results">Results (After Reval)</option>
                            <option value="served_as">Student Served As</option>



                        </select>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label for="fromDate">From Date</label>
                        <input type="date" name="fromDate" class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="toDate">To Date</label>
                        <input type="date" name="toDate" class="form-control" required>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label for="isDescriptionRequired">Details Required</label>
                        <select class="custom-select d-block w-100" name="isDescriptionRequired" required>
                            <option value="">Choose...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="dept">Departments</label>
                        <select class="custom-select d-block w-100" name="dept" required>
                            <option value="">Choose...</option>
                            <option value="ALL">All</option>
                            <option value="CSE">CSE</option>
                            <option value="ISE">ISE</option>
                            <option value="ECE">ECE</option>
                            <option value="MECH">MECH</option>
                            <option value="CIV">CIVIL</option>
                            <option value="TCE">TCE</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="Basic Science">Basic Science</option>
                        </select>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-12 mb-3">
                        <label for="coe">COE</label>
                        <%- include ("../partials/coe") %>

                            <div class="invalid-feedback">
                                Please select a valid type.
                            </div>
                    </div>


                </div>
                <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                        Search</button>
                </div>



            </form>
        </section>

    </div>

    <!-- Report Table -->

    <!-- Footer -->
    <%- include ("../partials/footer") %>

        </body>

        </html>