<%- include('../partials/header.ejs') %>
    <div class="container-fluid px-5 pt-2">

        <!-- Data Entry -->

        <section id="form">

            <form action="/search" method="post">
                <!-- <form actionid="studentReport" class="needs-validation" novalidate=""> -->

                <h4 class="mb-3 title">Student Report</h4>
                <div class="row data-row">

                    <div class="col-md-12 mb-3">
                        <label>Event</label>
                        <select class="custom-select d-block w-100" name="event" required>
                            <option value="">Choose...</option>
                            <option value="all">All</option>
                            <option value="awards">Awards & Achievements</option>
                            <option value="events_Attended">Events Attended</option>
                            <option value="placement">Placement</option>
                            <option value="book_Publication">Book Publication</option>
                            <option value="entrepreneurship">Entrepreneurship</option>
                            <option value="bridge_Courses">Bridge Courses</option>
                            <option value="exchange_Program">Exchange Program</option>
                            <option value="higher_Studies">Higher Studies</option>
                            <option value="idea_Repository">Idea Repository</option>
                            <option value="internship_Cell">Internship Cell</option>
                            <option value="mooc">MOOC</option>
                            <option value="parents_Meeting">Parents Meeting</option>
                            <option value="projects">Project/Mini Project</option>
                            <option value="results">Results (After Reval)</option>
                            <option value="served_As">Served As</option>
                            <option value="journal_Publications">Journal & Conference Publications</option>
                            <option value="industry_connect">Academia/Industry Connect Activities Attended</option>
                            <option value="awards_NSS">Awards & Achievements NSS/NCC</option>
                            <option value="mentoring">Mentoring</option>
                            <option value="patents">Patents</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid option is required.
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label for="fromDate">From Date</label>
                        <input type="date" name="fromDate" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid date is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="toDate">To Date</label>
                        <input type="date" name="toDate" class="form-control" required>
                        <div class="invalid-feedback">
                            Valid date is required.
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-6 mb-3">
                        <label for="details">Details Required</label>
                        <select class="custom-select d-block w-100" name="details" required>
                            <option value="">Choose...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid details required.
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="dep">Departments</label>
                        <select class="custom-select d-block w-100" name="dep" required>
                            <option value="">Choose...</option>
                            <option value="all">All</option>
                            <option value="cse">CSE</option>
                            <option value="ise">ISE</option>
                            <option value="ece">ECE</option>
                            <option value="mech">MECH</option>
                            <option value="civ">CIVIL</option>
                            <option value="tce">TCE</option>
                            <option value="mba">MBA</option>
                            <option value="mca">MCA</option>
                            <option value="ise">BASIC SCIENCE</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid department is required.
                        </div>
                    </div>
                </div>
                <div class="row data-row">
                    <div class="col-md-12 mb-3">
                        <label for="COE">COE</label>
                        <select class="custom-select d-block w-100" name="COE" required>
                            <option value="">Choose...</option>
                            <option value="All">All</option>
                            <option value="Additive Manufacturing">Additive Manufacturing</option>
                            <option value="Data-Driven Internet of Things">Data-Driven Internet of Things</option>
                            <option value="Integrated Circuits">Integrated Circuits</option>
                            <option value="Intelligent Energy Systems">Intelligent Energy Systems</option>
                            <option value="Intelligent Human Computer Interaction">Intelligent Human Computer
                                Interaction</option>
                            <option value="Machine Intelligence and Bigdata">Machine Intelligence and Bigdata
                            </option>
                            <option value="Material Sciences">Material Sciences</option>
                            <option value="Metallurgical Engineering">Metallurgical Engineering</option>
                            <option value="Natural Resource Management">Natural Resource Management</option>
                            <option value="Sensors and Nanoelectronics">Sensors and Nanoelectronics</option>
                            <option value="Signal Processing">Signal Processing </option>
                            <option value="Financial Markets">Financial markets</option>
                            <option value="Intelligent Robotics System">Intelligent robotics system</option>
                            <option value="Embedded System">Embedded system</option>
                            <option value="Modeling of Dynamic Systems">Modeling of dynamic systems</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid option is required.
                        </div>
                    </div>

                </div>
                <input value="Student" name="moduleName" type="hidden" />
                <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
                        Search</button>
                </div>

            </form>
        </section>

    </div>

    <!-- Report Table -->
    <script>
        document.getElementById("alert").style.display = "none";
    </script>

    <!-- Footer -->
    <%- include ("../partials/footer") %>

        </body>

        </html>